# Salesforce
.sf/
.sfdx/
.localdevserver/
deploy-options.json

# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Coverage
coverage/

# IDE
.vscode/settings.json
.idea/

# OS
.DS_Store
Thumbs.db

# Temp
*.tmp
*.temp